- action= bill ? "/bills/" + bill._id : "/bills"
form(method="POST", action=action)
  
  //- AMOUNT
  .form-group
    - value= bill && bill.amount || null
    label(for="add-amount") Amount
    input(type="text", name="amount", placeholder="00.00", value=value)#add-amount.form-control
  
  //- VENDOR
  .form-group
    - value= bill && bill.vendor || null
    label(for="add-vendor") Vendor
    input(type="text", name="vendor", placeholder="EasyJet, Nandos, etc", value=value)#add-vendor.form-control
    
  //- NAME
  .form-group
    - value= bill && bill.name || null
    label(for="add-name") Name
    input(type="text", name="name", placeholder="Flight tickets, Rachel's birthday etc", value=value)#add-name.form-control

  //- RRULE FREQUENCY
  .form-group
    label(for="add-rrule-freq") Frequency
    select(name="rrule[freq]")#add-rrule-freq.form-control
      option(value="0", selected=bill && bill.rrule.freq === 0) Yearly
      option(value="1", selected=bill && bill.rrule.freq === 1) Monthly
      option(value="2", selected=bill && bill.rrule.freq === 2) Weekly
      option(value="3", selected=bill && bill.rrule.freq === 3) Daily
    
  //- RRULE START DATE
  .form-group
    - value= bill && bill.rrule.dtstart ? dateformat( bill.rrule.dtstart, "isoDate" ) : dateformat(new Date(), "isoDate")
    label(for="add-rrule-dtstart") Date
    input(type="date", name="rrule[dtstart]", value=value)#add-rrule-dtstart.form-control

  //- RRULE INTERVAL
  .form-group
    - value= bill && bill.rrule.interval || 1
    label(for="add-rrule-interval") Interval
    input(type="number", name="rrule[interval]", placeholder="Every...", value=value)#add-rrule-interval.form-control


  .div
    .row
      .col-sm-6
        
        //- RRULE UNTIL
        .form-group
          - value= bill && bill.rrule.until || null
          label(for="add-rrule-until") Until ... OR ...
          input(type="date", name="rrule[until]", value=value)#add-rrule-until.form-control
      .col-sm-6
        
        //- RRULE COUNT
        .form-group
          - value= bill && bill.rrule.count || null
          label(for="add-rrule-count") Count
          input(type="number", name="rrule[count]", value=value)#add-rrule-count.form-control
          
  span.help-block Use either an until date #[strong or] a total count
  
  
  //- BY MONTH DAY
  .form-group
    label Month days (Frequency: MONTHLY)
    div
      - for ( var i = 1; i <= 31; i += 1 )
        - checked = bill && bill.rrule.bymonthday.indexOf(i) !== -1
        label.checkbox-inline
          input(type="checkbox", name="rrule[bymonthday][]", value=i, checked=checked)
          = i
  
  //- BY WEEK DAY
  .form-group
    - value= bill && bill.rrule.byweekday.length ? bill.rrule.byweekday[0] : null
    label Occurrance of day per month (Frequency: MONTHLY)
    .row
      .col-sm-6
        select(name="rrule[byweekdayOffset]").form-control
          option Choose occurance
          each occurance in C.NTH_OCCURANCES
            option(value=occurance.value, selected=value && value.n === occurance.value)= occurance.title
        
      .col-sm-6
        select(name="rrule[byweekdayDay]").form-control
          option Choose day
          each day in C.WEEKDAYS
            option(value=day.value, selected=value && value.day === day.value)= day.title
    span.help-block Last Friday or 1st Monday of the month, etc
          
  .form-group
    label Days in repeating week (Frequency: WEEKLY)
    div
      each day, i in ["Sun", "Mon", "Tues", "Weds", "Thurs", "Fri", "Sat"]
        - checked = bill && bill.rrule.byweekday.indexOf(i) !== -1
        label.checkbox-inline
          input(type="checkbox", name="rrule[byweekday][]", value=i, checked=checked)
          = day
  
  //- BY YEAR DAY
  .form-group
    - value= bill ? bill.rrule.byyearday.join(", ") : null
    label(for="add-rrule-byyearday") Year days (Frequency: YEARLY)
    input(type="text", name="rrule[byyearday]", value=value)#add-rrule-byyearday.form-control
    span.help-block Comma-seperated days 1-365
  
  if bill
    
    button(type="submit").btn.btn-default Save changes
  
  else
    
    button(type="submit").btn.btn-default Add bill
